@model Team_EasyEntry.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">


        <div style="color:red">@ViewBag.Error</div>

        @using (Html.BeginForm("Edit2", "Customers", FormMethod.Post))
        {
            <h4>Type Your Email</h4>

            @if (@ViewBag.Error != "Change Your Informaion")
            {
                <div class="form-group">
                    <label name="email" class="control-label"></label>
                    <input name="email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            }
        }

        @if (@ViewBag.Error == "Change Your Informaion")
        {
            <form asp-action="Edit3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstShotDate" class="control-label"></label>
                    <input type="date" asp-for="FirstShotDate" class="form-control" />
                    <span asp-validation-for="FirstShotDate" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="FirstShotName" class="control-label"></label>
                    <select asp-for="FirstShotName" class="form-control">
                        @foreach (var item in ViewBag.vaccine)
                        {
                            <option type="checkbox" id="Check_@item.ID" checked="@item.Check">@item.vaccine_name</option>
                        }
                    </select>
                    <span asp-validation-for="FirstShotName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondShotDate" class="control-label"></label>
                    <input type="date" asp-for="SecondShotDate" class="form-control" />
                    <span asp-validation-for="SecondShotDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondShotName" class="control-label"></label>
                    <select asp-for="SecondShotName" class="form-control">
                        @foreach (var item in ViewBag.vaccine)
                        {
                            <option type="checkbox" id="Check_@item.ID" checked="@item.Check">@item.vaccine_name</option>
                        }
                    </select>
                    <span asp-validation-for="SecondShotName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThirdShotDate" class="control-label"></label>
                    <input type="date" asp-for="ThirdShotDate" class="form-control" />
                    <span asp-validation-for="ThirdShotDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThirdShotName" class="control-label"></label>
                    <select asp-for="ThirdShotName" class="form-control">
                        @foreach (var item in ViewBag.vaccine)
                        {
                            <option type="checkbox" id="Check_@item.ID" checked="@item.Check">@item.vaccine_name</option>
                        }
                    </select>
                    <span asp-validation-for="ThirdShotName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
